/* CSS Module for AsciiMap */
.asciiMapRoot {
  border: 1px solid var(--border-ui, #3a3ad1);
  border-radius: 8px;
  display: inline-block;
  padding: 16px 24px;
  margin: 16px 0;
  background: rgb(30 40 40 / 70%);
  font-size: 1.5rem;
  color: #8cf;
  box-shadow: 0 0 0 1px #234 inset;
  font-family: 'Fira Mono', Consolas, Menlo, Monaco, monospace;
  text-align: center;
}

.asciiMapRoot > div {
  display: flex;
  justify-content: center;
}

.asciiMapRoot span {
  display: inline-block;
  width: 2ch;
  height: 2ch;
  text-align: center;
  line-height: 2ch;
  box-sizing: border-box;
}

.asciiMapRoom {
  display: inline-block;
  width: 5ch;
  text-align: center;
  color: var(--text-main, #ffe7b3);
}

.asciiMapRoomCurrent {
  color: var(--text-heading, #ffb300);
  font-weight: bold;
}
